.large-image{
    height: 800px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.large-image-block p{
    color: #f1efed;
    font-size: 70px;
    font-weight: 700;
}

.large-image-block .left-center {
    position: absolute;
    top: 40%;
    left: 10%;
    max-width: 500px;
}

.large-image-block .left-bottom {
    position: absolute;
    top: 60%;
    left: 10%;
    max-width: 500px;
}

.large-image-block .left-top {
    position: relative;
    top: 25%;
    left: 10%;
    max-width: 500px;
}

.large-image-block .top-center {
    position: absolute;
    top: 25%;
    left: 40%;
    max-width: 500px;
}

.large-image-block .bottom-center {
    position: absolute;
    top: 60%;
    left: 40%;
    max-width: 500px;
}

.large-image-block .center {
    position: absolute;
    top: 40%;
    left: 40%;
    max-width: 500px;
}

.large-image-block .right-center {
    position: absolute;
    top: 40%;
    left: 70%;
    max-width: 500px;
}

.large-image-block .right-top {
    position: absolute;
    top: 25%;
    left: 70%;
    max-width: 500px;
}

.large-image-block .right-bottom {
    position: relative;
    top: 40%;
    left: 72%;
    max-width: 500px;
}

@media screen and (max-width: 1366px) {

    .large-image{
        height: 600px;
    }

}