.second_level_content-registration{
    background-color: rgb(243, 243, 243);
}

.second_level_content-registration .content-70{
    width: 70%;
    margin: 0 auto;
}

.our-advantages-title{
    text-align: center;
}

.our-advantages-block{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.our-advantages-item{
    background-color: white;
    width: 450px;
    height: 250px;
    margin-top: 25px;
}

.our-advantages-item-image img{
    display: block;
    margin: 0 auto;
    padding-top: 20px;
}

.our-advantages-item-title{
    text-align: center;
    padding-top: 20px;
}
