.lend-partners-header{
    position: relative;
    left: 0;
    text-align: center;
    width: 100%;
    min-height: 1142px;
    color: #fff;
    z-index: 5;
    background-color: #ffe;
    background:  url("/etc/clientlibs/wedding/pages/images/landing_parthner/Desktop/Computer_Assets/cover_photo.jpg") center no-repeat;
    background-size: cover;
}

.lend-partners-header-title{
    font-family: 'Rosa Marena', cursive;
    font-size: 62pt;
    font-weight: normal;
    padding-top: 90px;
}

.lend-partners-header-title a{	color: #fff;}

.lend-partners-header-title2{
    font-family: 'Theano Didot',  serif;
    font-weight: normal;
    font-size: 56pt;
    padding-top: 320px;
}

.lend-partners-header-slogan{
    font-family: 'GothamPro',  sans-serif;
    font-weight: 100;
    font-size: 22pt;
}

.btn-become-partner{
    margin-top: 60px;
    width: 300px;
    height: 80px;
    background:  url("/etc/clientlibs/wedding/pages/images/landing_parthner/Desktop/Computer_Assets/become_partner/Partner_Button_1.png") center no-repeat;
    background-size: cover;
    border: none;
    cursor: pointer;
}

.btn-become-partner:hover{
    background-image:  url("/etc/clientlibs/wedding/pages/images/landing_parthner/Desktop/Computer_Assets/become_partner/Partner_Button_2.png");
}

.btn-become-partner:focus {
    border: none;
    background-image:  url("/etc/clientlibs/wedding/pages/images/landing_parthner/Desktop/Computer_Assets/become_partner/Partner_Button_2.png");
}

/*#entrance-cabinet-btn-land, #registration-btn-land {
    cursor: pointer;
}*/

/*  ======   --- -----  */

.lend-partners-main{
    background-color: #f4f4f4;
    text-align: center;
    margin-top: 35px;
}

.video-block iframe{
    width: 96%;
    min-height: 650px;
    margin: 50px 0 70px;
}

.benifits-title, .with-us-title, .about-us-title {
    font-family: 'Theano Didot',  serif;
    font-weight: normal;
    font-size: 48pt;
}

.benifits-container, .with-us-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.benifits-container{
    padding-bottom: 50px;
}

.benifits{
    min-height: 350px;
    width: 46%;
    background-color: #fff;
    margin: 2%;
}

.benifits img{
    margin: 40px 0 20px;
}

.benifits-text{
    font-family: 'GothamPro',  sans-serif;
    font-size: 20pt;
    font-weight: normal;
    margin: 0 10px;
}

.with-us-container{
    background-color: #fff;
    margin: 2%;
    padding: 0 4% 4% 4%;
}

.with-us-div{
    min-height: 440px;
    width: 29.3333333333%;
    margin: 2%;
    background-color: #f4f4f4;
    background-repeat: no-repeat;
    background-position: center;
    /*background-size: cover;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
    cursor: pointer;
}

.with-us-content{
    padding: 25px 0 15px;
    background: linear-gradient(to bottom, transparent,  rgba(22, 22, 22, 0.9));
}

.with-us-title{
    background-color: #fff;
    padding: 30px 0 0 0;
    margin: 2% 2% -2% 2%;
}

.about-us-container{
    min-height: 780px;
    background:  url("/etc/clientlibs/wedding/pages/images/landing_parthner/Desktop/Computer_Assets/about_us_background.png") center no-repeat / cover;
    margin: 90px 2% 70px 2%;
    display: flex;
    flex-direction: column;
}

.about-us-frame{
    margin: 140px auto 0;
    background-color: #fff;
    padding: 0 0 50px 0;
    width: 70%;
}

.about-us-title{
    padding-top: 20px;
    margin-bottom: -20px;
}

.about-us-line{
    padding-bottom: 15px;
}

.about-us-help-title{
    font-family: 'GothamPro',  sans-serif;
    font-weight: normal;
    font-size: 22pt;
    padding: 20px 0 10px 0;
}

.about-us-help-text-container{
    width: 70%;
    margin: 0 auto;
    padding-left: 7%;
}

.about-us-help-text, .about-us-text{
    font-family: 'GothamPro-light',  sans-serif;
    font-weight: normal;
    font-size: 14pt;
    padding: 0 10%;
}

.about-us-help-text{
    text-align: left;
}

.btn-become-partner2{
    margin-top: 60px;
    margin-bottom: 60px;
    width: 300px;
    height: 80px;
    background:  url("/etc/clientlibs/wedding/pages/images/landing_parthner/Desktop/Computer_Assets/become_partner/Partner_Button_2.png") center no-repeat / cover;
    border: none;
    cursor: pointer;
}

.btn-become-partner2:hover{
    background-image:  url("/etc/clientlibs/wedding/pages/images/landing_parthner/Desktop/Computer_Assets/become_partner/Partner_Button_1.png");
}

.btn-become-partner2:focus{
    border: none;
    background-image:  url("/etc/clientlibs/wedding/pages/images/landing_parthner/Desktop/Computer_Assets/become_partner/Partner_Button_1.png");
}

.timer-title{
    font-family: 'GothamPro',  sans-serif;
    font-weight: normal;
    font-size: 27pt;
    padding: 30px 0;
}

.timer-board{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    text-transform: uppercase;
}

.timer-board figure span{
    font-family: 'Theano Didot',  serif;
    font-weight: normal;
    font-size: 76pt;
    width: 40px;
    height: 40px;
    background: linear-gradient(to bottom, transparent, #c3b89e);
    /*background: #c3b89e;*/
    color: #fff;
    padding: 20px 10px 5px;
}

.timer-board figure{
    padding: 15px;
}


