<main id="tenders-page-content">

    <section class="top-bar">

        <div class="top-bar-menu">

        </div>

        <div>

            <select id="tender_categories_select" name="partner">

                <option id="photo_select" value="photographers">Ведущие</option>

            </select>

            <select id="city_select" name="City">

                <option value="minsk" disabled> Город </option>
                <option value="minsk" selected> Минск </option>
                <option value="brest"> Брест </option>
                <option value="vitebsk"> Витебск </option>
                <option value="gomel" > Гомель </option>
                <option value="grodno"> Гродно </option>
                <option value="mogilev"> Могилев </option>

            </select>

            <input id="date" type="date" value="2018-07-22">

        </div>

    </section>



    <div class = "hidden_full">

        <div class="tender_card">
            <a class="tender_card_href" href="/content/wedding/tenders/tender.html?">

                <div class="tender_card-author">

                    <div class="mini-avatar"> </div>
                    <div class="tender_card-author_name">  </div>

                </div>

                <div class="tender_card-img">

                    <div class="tender_card-need">
                        <p class="tender_card-need_text">нужен: </p>
                        <p class="tender_card-need_cat"> </p>
                    </div>

                </div>

                <div class="tender_card-line1">
                    <span class="tender_card-publish">Опубликован </span> <span class="publish_date">  </span>
                    <span class="count_proposals">  </span> <span class="tender_card-proposals">  предложений </span>
                </div>

                <div class="tender_card-line2">
                    <span class="tender_card-city red_font">   </span> <span class="vert-line">&#124;</span>
                    <span class="tender_card-dead_line red_font">   </span> <span class="vert-line">&#124;</span>
                    <span class="tender_card-budget"> бюджет: </span>
                    <span class="tender_card-budget_count red_font">   </span> <span class="red_font"> руб. </span>
                </div>

                <div class="tender_card-short_text">
                    <span class="short_text_text"> Подробнее </span>
                </div>

            </a>
        </div>

    </div>



    <section id="tender_cards-cont" class="tender_cards-cont">

    </section>

</main>