<main id="sales-page-content">
    <h1 class="events">event in the studija</h1>

    <div class="event_card-sample event_card">


        <div class="event_card-bg">

            <p class="event_card-title">	</p>

            <p>
                <span class="event_card-start"> </span>
                <span class="event_card-finish"> </span>
            </p>

        </div>

        <div class="event_card-description">
            <span class="event_card-description_text"> Подробнее </span>
            <span class="event_card-description_arrow">
			     					<img src="/etc/clientlibs/wedding/pages/images/profil_partner/common_profil/more.png" alt="more">
			     				</span>
        </div>


    </div>

</main>