<main id="sales-page-content">

    <div class="event-wrapper">

        <!-- <p class="no_event-text">У партнера в данный момент нет ни одной акции!</p>	 -->

    </div>

    <div class="hidden_full">

        <div class="event_card-sample event_card">
            <a class="event_card-href" href="/content/wedding/sales/sale.html?">

                <div class="event_card-bg">

                    <div class="event_card-in_bg">

                        <p class="event_card-title">	</p>

                        <div class="event_card-date">
                            <span class="event_card-start"> </span>
                            <span> - </span>
                            <span class="event_card-finish"> </span>
                        </div>

                    </div>

                </div>

                <div class="event_card-description" title="Подробнее">
                    <span class="event_card-description_text"> Подробнее </span>
                    <span class="event_card-description_arrow">
	 					<img src="/etc/clientlibs/wedding/pages/images/profil_partner/common_profil/more.png" alt="more">
	 				</span>
                </div>

            </a>
        </div>

    </div>

</main>