<main id="sales-page-content" class="">

    <section class="top-bar">

        <div class="top-bar-menu">

        </div>

        <div>

            <select id="tender_categories_select" name="partner">

                <option id="photo_select" value="photographers">Ведущие</option>

            </select>

            <select id="city_select" name="City">

                <option value="minsk" disabled> Город </option>
                <option value="minsk" selected> Минск </option>
                <option value="brest"> Брест </option>
                <option value="vitebsk"> Витебск </option>
                <option value="gomel" > Гомель </option>
                <option value="grodno"> Гродно </option>
                <option value="mogilev"> Могилев </option>

            </select>

            <input id="date-filtr" type="date" >

        </div>

    </section>

    <div class="event-wrapper">



    </div>

    <div class="hidden_full">

        <div class="event_card-sample event_card">
            <a class="event_card-href" href="/content/wedding/sales/sale.html?">

                <div class="event_card-author">

                    <div class="mini-avatar"> </div>
                    <div class="name_spec-wrapp">
                        <div class="tender_card-author_name">  </div>
                        <div class="card-speciality">  </div>
                    </div>


                </div>

                <div class="event_card-bg">

                    <div class="event_card-in_bg">

                        <p class="event_card-title">	</p>

                        <div class="event_card-date">
                            <span class="event_card-start"> </span>
                            <span> - </span>
                            <span class="event_card-finish"> </span>
                        </div>

                    </div>

                </div>

                <div class="event_card-description" title="Подробнее">
                    <span class="event_card-description_text"> Подробнее </span>
                    <span class="event_card-description_arrow">
	 					<img src="/etc/clientlibs/wedding/pages/images/profil_partner/common_profil/more.png" alt="more">
	 				</span>
                </div>

            </a>
        </div>

    </div>

</main>