<main id="user-page-content">

    <div class="partner_menu">

        <ul>

            <li><span id="user_calc_btn" class="user_calc_btn">  	Калькулятор </span></li>
            <li><span id="user_tenders_btn" class="user_tenders_btn user_menu_btn_active">	Мои тендеры </span></li>

        </ul>

    </div>

    <div class="partner-page-wrapper">

        <aside id="user_aside">

            <section id="cabinet_aside_sect">

                <div class="avatar_and_btn">

                    <div class="user_avatar">
                        <p class="edit_avatar_btns hidden_full">
                            <img class="avatar_upd_icon" src='/etc/clientlibs/wedding/pages/images/profil_user/profil_and_tenders/upd_photo.png' alt="avatar_upd_icon">
                            <img class="avatar_remove_icon " src='/etc/clientlibs/wedding/pages/images/profil_user/profil_and_tenders/remove_photo.png' alt="avatar_remove_icon">
                        </p>
                    </div>


                    <div class="user_avatar_btn">

                        <div class="user_avatar_btn_mail">
                            <img src="/etc/clientlibs/wedding/pages/images/profil_partner/aside/wright.png" alt="avatar_btn_mail" title="Написать сообщение">
                        </div>
                        <div class="avatar_btn_change hidden_full">
                            <img src="/etc/clientlibs/wedding/pages/images/profil_user/profil_and_tenders/edit_profil.png" alt="avatar_btn_likes" title="Редактировать профиль">
                        </div>
                        <div class="btn_change_save_change hidden_full">
                            <img src="/etc/clientlibs/wedding/pages/images/profil_user/profil_and_tenders/save.png"
                                 alt="save_change" title="Сохранить изменения">
                        </div>

                    </div>

                </div>

                <p class="profil_name"></p>
                <p class="profil_secondname"></p>
                <p class="info_string phone_string"></p>
                <p class="info_string mail_string"></p>
                <p class="info_string vk_string"></p>
                <!-- 			<p class="info_string fb_string"></p>
                            <p class="info_string insta_string"></p> -->
            </section>

            <section id="calc_aside_sect" class="calc_aside hidden_full">
                <p class="calc_aside_edit">
                    <img class="calc_aside_edit_icon"
                         src='/etc/clientlibs/wedding/pages/images/profil_user/profil_and_tenders/edit.png'
                         alt="calc_aside_edit_icon">
                    <img class="calc_aside_bird_icon hidden_full"
                         src='/etc/clientlibs/wedding/pages/images/profil_user/calc/bird.png'
                         alt="calc_aside_bird_icon">
                </p>
                <p class="budget_calc"><span> БЮДЖЕТ:  </span> <span class="price_budget"> <span
                        class="span-price_budget"> 15000 </span> </span> <span>руб.</span></p>
                <p class="balance_calc"><span> ОСТАТОК:  </span> <span class="price_balance"> 0 </span>
                    <span>руб.</span></p>
            </section>

        </aside>


        <div id="partner-page-pages">

            <section id="user_calc" class="hidden_full">

                <div>

                    <h2 class="partner_title"> Калькулятор </h2>

                    <p class="content content_about_oneself">Вы пока не добавили специалистов в калькулятор. Что бы
                        начать, укажите Ваш бютжет и выберите специалистов из
                        <a class="red_refer" href="/content/wedding/catalog.html">каталога</a>.</p>

                </div>

            </section>

            <section id="user_tenders">

                <div class="user_tenders-head">

                    <h2 class="partner_title"> Мои тендеры </h2>
                    <img class="create_tender_icon"
                         src="/etc/clientlibs/wedding/pages/images/profil_user/profil_and_tenders/create_tender.png"
                         alt="create_tender_icon" title="Создать тендер">


                </div>


                <div class="user_tenders-container">
                    <div>
                        <p class="content content_"> У Вас пока еще нет тендеров - для их добавления нажмите кнопку
                            создать тендер.</p>
                    </div>
                </div>


                <div class="hidden_full">

                    <div class="tender_card">

                        <div class="tender_card_edit">
                            <img class="tender_card-edit_icon"
                                 src='/etc/clientlibs/wedding/pages/images/profil_user/profil_and_tenders/edit.png'
                                 alt="edit_icon" title="Редактировать">
                            <img class="tender_card-bird_icon hidden_full"
                                 src='/etc/clientlibs/wedding/pages/images/profil_user/calc/bird.png' alt="bird_icon"
                                 title="Сохранить">
                            <img class="tender_card-remove_icon"
                                 src='/etc/clientlibs/wedding/pages/images/profil_user/profil_and_tenders/remove_tender.png'
                                 alt="remove_tender" title="Удалить">
                        </div>

                        <a class="tender_card_href" href="/content/wedding/tenders/tender.html?">


                            <div class="tender_card-img">

                                <div class="tender_card-need">
                                    <p class="tender_card-need_text">нужен: </p>
                                    <p class="tender_card-need_cat">фотограф</p>
                                </div>

                            </div>

                            <div class="tender_card-line1">
                                <span class="tender_card-publish">Опубликован </span> <span class="publish_date"> 10.03.2018</span>
                                <span class="count_proposals"> 12 </span><span class="tender_card-proposals">  предложений </span>
                            </div>

                            <div class="tender_card-line2">
                                <span class="tender_card-city red_font"> г. Гомель </span> <span class="vert-line">&#124;</span>
                                <span class="tender_card-dead_line red_font"> 14.07.2018 </span> <span
                                    class="vert-line">&#124;</span>
                                <span class="tender_card-budget"> бюджет: </span>
                                <span class="tender_card-budget_count red_font"> 300 </span> <span class="red_font"> руб. </span>
                            </div>

                            <div class="tender_card-short_text">
                                <span class="short_text_text"> </span>
                            </div>

                        </a>
                    </div>

                </div>


            </section>


        </div>

    </div>

</main>