<main id="user-page-content">

    <div class="partner_menu">

        <ul>

            <li > <span id="user_calc_btn" 	class="user_calc_btn">  	Калькулятор </span>	</li>
            <li > <span id="user_tenders_btn"  class="user_tenders_btn user_menu_btn_active">	Мои тендеры </span>	</li>

        </ul>

    </div>

    <div class="partner-page-wrapper">

        <aside id="user_aside">

            <section id="cabinet_aside_sect" >

                <div class="avatar_and_btn">

                    <div class="user_avatar">   </div>

                    <div class="user_avatar_btn">
                        <div class="user_avatar_btn_mail hidden_full"><img src="/etc/clientlibs/wedding/pages/images/profil_partner/aside/wright.png" alt="avatar_btn_mail" title="Написать сообщение"> </div>
                        <div class="user_avatar_btn_edit "><img src="/etc/clientlibs/wedding/pages/images/profil_user/profil_and_tenders/edit_profil.png" alt="avatar_btn_likes" title="Редактировать профиль"></div>

                    </div>

                </div>

                <p class="profil_name"> </p>
                <p class="profil_secondname"> </p>
                <p class="info_string phone_string"></p>
                <p class="info_string mail_string"></p>
                <p class="info_string vk_string"></p>
                <!-- 			<p class="info_string fb_string"></p>
                            <p class="info_string insta_string"></p> -->
            </section>

            <section id="calc_aside_sect" class="calc_aside hidden_full">
                <p class="calc_aside_edit">
                    <img class="calc_aside_edit_icon" src='/etc/clientlibs/wedding/pages/images/profil_user/profil_and_tenders/edit.png' alt="calc_aside_edit_icon">
                    <img class="calc_aside_bird_icon hidden_full" src='/etc/clientlibs/wedding/pages/images/profil_user/calc/bird.png' alt="calc_aside_bird_icon">
                </p>
                <p class="budget_calc"> <span> БЮДЖЕТ:  </span> <span class="price_budget"> <span class="span-price_budget"> 15000 </span> </span> <span>руб.</span> </p>
                <p class="balance_calc"> <span> ОСТАТОК:  </span> <span class="price_balance"> 0 </span> <span>руб.</span> </p>
            </section>

        </aside>



        <div id="partner-page-pages">

            <section id="user_calc" class="hidden_full">

                <div >

                    <h2 class="partner_title"> Калькулятор </h2>

                    <p class="content content_about_oneself">Вы пока не добавили специалистов в калькулятор. Что бы начать, укажите Ваш бютжет и выберите специалистов из
                        <a class="red_refer" href="/content/wedding/catalog.html">каталога</a>.</p>

                </div>

            </section>

            <section id="user_tenders" >

                <div >

                    <h2 class="partner_title"> Мои тендеры </h2>

                    <p class="content content_"> У Вас пока еще нет тендеров - для их добавления нажмите кнопку СОЗДАТЬ.</p>

                </div>


            </section>


        </div>

    </div>

</main>