#login-popup, #registration-popup-first-step, #registration-popup-second-step-partner, #registration-popup-second-step-private{
    background-color: rgb(244, 244, 244);
    width: 70%;
    height: 570px;
    margin: auto;
}

.registration{
    padding-top: 50px;
}

#login-popup h4{
    text-align: center;
    color: rgb(94, 94, 94);
    font-family: 'GothaReg';
    font-size: 30px;
}

#login-popup .login-vs-email h4{
    text-align: center;
    color: rgb(94, 94, 94);
    font-family: 'GothaReg';
    font-size: 26px;
}

.registration ul{
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
}

.registration ul li{
    margin-top: 20px;
    margin-left: 15px;
}

.loginBlock{
    margin: auto;
}

.login-popup-wrapper{
    width: 350px;
    margin: 0 auto;
}

.login-vs-email{
    margin-top: 30px;
    padding-left: 15px;
}

.login-vs-email-wrapper{
    margin-top: 30px;
}

.recover-pass{
    margin-top: 10px;
}

.recover-pass a{
    font-size: 11px;
}

.registrationBlock_input {
    width: 100%;
    padding: 14px 20px 12px;
    margin: 0 0 -1px;
    position: relative;
    display: block;
    border-radius: 0;
    box-sizing: border-box;
    margin-top: 10px;
    border: none;
}

#submitLoginInput:hover {
    background-color: #909090;
}

#submitLoginInput{
    color: #505050;
    cursor: pointer;
    width: 120px;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    height: 40px;
    font-size: 15px;
}

#registration-newAcc{
    text-align: center;
    font-size: 25px;
    color: #717171;
    max-width: 400px;
    margin: auto;
    font-family: GothaLight;
}

.select-block{
    width: 380px;
    height: 130px;
    border: 1px solid #bbbbbb;
    text-align: center;
    color: #7b7b7b;
    cursor: pointer;
}

.first-step-text-wrapper{
    margin: 30px;
}

.first-step-text-wrapper p{
    font-size: 15px;
}

.first-step-text-wrapper h4{
    font-size: 20px;
    color: rgba(158, 147, 87, 0.87);
}

.selected-item{
    background-color: rgba(201, 202, 74, 0.09);
}

.first-step-wrapper{
    display: flex;
    width: 600px;
    margin: auto;
    padding-top: 200px;
}

#registration-firstStep{
    margin: auto;
    margin-top: 50px;
    background-image: url(/content/dam/wedding/components/registration/next.png);
    width: 141px;
    height: 51px;
}

.form-item-wrapper{
    padding-top: 100px;
}

.form-item{
    width: 450px;
    margin: auto;
    font-size: 18px;
    color: #797979;
    padding-top: 20px;
}

.form-item-input{
    float: right;
}

.login-registration-block{
    margin-left: 100px;
}

.user-menu-block{
    align-items: center;
    margin-left: 100px;
    flex-direction: column;
}

.user-name-title{
    cursor: pointer;
}

.user-menu-block ul {
    visibility: visible;
    background: #ffffff;
    top: 46px;
    text-align: center;
    min-width: 160px;
    display: none;
    flex-direction: column;
    padding: 0;
    margin: 0;
    position: absolute;
}

.user-menu-block ul li {
    border-bottom: 1px solid #d6cece;
}
