<main id="tender-page-content">

    <div class = "hidden_full">

        <div class="tender_card">


            <div class="tender_card-author">

                <div class="mini-avatar"> </div>
                <div class="tender_card-author_name"> Мортри Петрова </div>

            </div>

            <div class="tender_card-img">

                <div class="tender_card-need">
                    <p class="tender_card-need_text">нужен: </p>
                    <p class="tender_card-need_cat">фотограф</p>
                </div>

            </div>

            <div class="tender_card-line1">
                <span class="tender_card-publish">Опубликован </span> <span class="publish_date"> 10.03.2018</span>
                <span class="count_proposals"> 12 </span><span class="tender_card-proposals">  предложений </span>
            </div>

            <div class="tender_card-line2">
                <span class="tender_card-city red_font"> г. Гомель </span> <span class="vert-line">&#124;</span>
                <span class="tender_card-dead_line red_font"> 14.07.2018 </span> <span class="vert-line">&#124;</span>
                <span class="tender_card-budget"> бюджет: </span>
                <span class="tender_card-budget_count red_font"> 300 </span> <span class="red_font"> руб. </span>
            </div>

            <div class="tender_card-full_text">
                <p class="tender_card-offers"> </p>
                <p class="tender_card-required"> </p>
            </div>

            <div class="tender_comment-cont">

                <div class="comment_field">
                    <div class="mini-avatar"> </div>
                    <div class="comment_field-author_name"> Ланая Сергеева </div>
                    <p> Здравствуйте Олеся, меня зовут Мария. Буду рада предложить Вам отыграть свадьбу на все 200.
                        У нас в арсенале - дерижабль с обезьянами, танцующие пингвины и слон-бормоглот.
                    </p>
                </div>
            </div>

            <div class="comment-inter_area">
                <textarea class="comment_inter" name="comment_inter"  > </textarea>
            </div>



        </div>

    </div>



    <section id="tender-cont" class="tender_cards-cont">

        <div class="tender_card">


            <div class="tender_card-author">

                <div class="mini-avatar"> </div>
                <div class="tender_card-author_name"> Мортри Петрова </div>

            </div>

            <div class="tender_card-img">

                <div class="tender_card-need">
                    <p class="tender_card-need_text">нужен: </p>
                    <p class="tender_card-need_cat">фотограф</p>
                </div>

            </div>

            <div class="tender_card-line1">
                <span class="tender_card-publish">Опубликован </span> <span class="publish_date"> 10.03.2018</span>
                <span class="count_proposals"> 12 </span><span class="tender_card-proposals">  предложений </span>
            </div>

            <div class="tender_card-line2">
                <span class="tender_card-city red_font"> г. Гомель </span> <span class="vert-line">&#124;</span>
                <span class="tender_card-dead_line red_font"> 14.07.2018 </span> <span class="vert-line">&#124;</span>
                <span class="tender_card-budget"> бюджет: </span>
                <span class="tender_card-budget_count red_font"> 300 </span> <span class="red_font"> руб. </span>
            </div>

            <div class="tender_card-full_text">
                <p class="tender_card-offers"> </p>
                <p class="tender_card-required"> </p>
            </div>

            <div class="tender_comment-cont">

                <div class="comment_field">
                    <div class="mini-avatar"> </div>
                    <div class="comment_field-author_name"> Ланая Сергеева </div>
                    <p> Здравствуйте Олеся, меня зовут Мария. Буду рада предложить Вам отыграть свадьбу на все 200.
                        У нас в арсенале - дерижабль с обезьянами, танцующие пингвины и слон-бормоглот.
                    </p>
                </div>
            </div>

            <div class="comment-inter_area">
                <textarea class="comment_inter" name="comment_inter"  > </textarea>
            </div>

        </div>

    </section>

</main>