<main id="tender-page-content">

    <div class = "hidden_full">

        <div class="tender_card">


            <div class="tender_card-author">

                <div class="mini-avatar"> </div>
                <div class="tender_card-author_name">  </div>

            </div>

            <div class="tender_card-img">

                <div class="tender_card-need">
                    <p class="tender_card-need_text">нужен: </p>
                    <p class="tender_card-need_cat"> </p>
                </div>

            </div>

            <div class="tender_card-line1">
                <span class="tender_card-publish">Опубликован </span> <span class="publish_date"> </span>
                <span class="count_proposals">  </span><span class="tender_card-proposals">  предложений </span>
            </div>

            <div class="tender_card-line2">
                <span class="tender_card-city red_font">  </span> <span class="vert-line">&#124;</span>
                <span class="tender_card-dead_line red_font"> </span> <span class="vert-line">&#124;</span>
                <span class="tender_card-budget"> бюджет: </span>
                <span class="tender_card-budget_count red_font">  </span> <span class="red_font"> руб. </span>
                <!-- <img class="tender_card-receive_order" src="/etc/clientlibs/wedding/pages/images/profil_partner/common_profil/add.png" alt="receive_order"> --> <!-- TODO - когда будет дизайн заменить на кнопку "получить заказ" -->
            </div>

            <div class="tender_card-full_text">
                <p class="tender_card-offers"> </p>
                <p class="tender_card-required"> </p>
            </div>

            <div class="tender_comment-cont">

                <div class="comment_field">
                    <div class="mini-avatar"> </div>
                    <div class="comment_field-author_name">   </div>
                    <div class="comment_field-author_category">   </div>
                    <p class="comment_field-text">  </p>
                    <div class="comment_field-date_fild"> </div>
                </div>

            </div>

        </div> 	<!-- tender_card -->

    </div>

    <section>

        <div id="tender-cont" class="tender_cards-cont">


        </div>

        <div class="comment-wrapper">
            <div class="comment-inter_area">
                <textarea class="comment_inter" name="comment_inter" placeholder="Оставьте комментарий" > </textarea>
            </div>
            <div id="tender_add_comment" class="add_btn">
                <img  src="/etc/clientlibs/wedding/pages/images/profil_partner/common_profil/add.png" alt="add-btn">
            </div>
        </div>
    </section>

</main>