html, body{width: 100%; margin: 0;}

/*STYLES FOR TABLET WITH LANDSCAPE ORIENTATION*/
@media screen and (max-width:1024px) and (orientation: landscape){
	.logo img{width: 250px;}
	.header{padding: 30px 60px 100px;}
	.header-text{padding: 0px 0px 160px;}
	.gray-bg{ padding: 60px 150px 0px;}
	
	.video{ display: block;}
	
	.benefits-item{width: 41%; padding: 30px 20px 20px;}
	
	.with-us-block{display: none;}
	#with-us-carousel{display: block;}
	.with-us-item{width: 100%; height: 350px;}
	
	.about-us-block{padding: 100px 60px;}
	.about-us-white{ padding: 30px 25px 40px;}
	.about-us-white ul{ width: 65%;}
	
	#time{padding: 60px 250px;}
	
	footer hr{width: 25% !important;}
	.contact-social{width: 12%;}
	
}

@media (min-width:1500px){
	h3{font-family: "TheanoDidot"; font-size: 40px; font-weight: 300; text-align: center; margin-top: 0px;}
	
	.header-text{padding: 100px 0px 300px;}
	.header-text button{ margin-top: 80px; }
	.header-text h1{ font-size: 54px; }
	.header-text h4{font-size: 24px;}
	
	.gray-bg{padding: 80px 250px 0px;}
	
	.benefits-item{width: 39%; padding: 40px 60px;}
	p{font-size: 17px;}
	
	.with-us-item{height: 450px;}
	.about-us-white { padding: 70px 95px;}
	.with-us-desc .full-desc p{font-size: 15px !important;}
	.with-us-desc p{color: white;}
	.about-us-block{padding: 100px 200px;}
	.about-us-white p, .about-us-white ul li{font-size: 17px; }
	
	#time{padding: 60px 0px;}
	#timer{ width: 40%; margin: 0 auto;}
	.time-block{ width: 20%; }
	
	.logo-bottom img{width: 270px;}
	.contact-info a{ font-size: 17px; }
	.contact-social{width: 7%;}
}


h3{font-family: "TheanoDidot"; font-size: 36px; font-weight: 300; text-align: center; margin-top: 0px;}
p{font-family: "GothaReg"; font-weight: 100 !important; letter-spacing: 1px;}
.gray-bg{background-color: #f4f4f4; padding: 60px 150px 0px;}
hr{border: 0px; height: 1px; background: #acacac;}

@media (max-width: 425px) {
	h3{ font-size: 30px;}
}

.main-bg{background-size: cover; background-image: url(/content/dam/wedding/components/navigation/cover_photo.png); background-repeat: no-repeat;  background-position: top;}
.header{display: flex; flex-direction: column; align-items: center; padding: 100px 60px;}
.signup{align-self: flex-end;}
.signup a{color: #000; text-decoration: none; font-family: "GothaReg"; font-size: 14px;}
.header-text{text-align: center; color: #fff; padding: 0px 0px 130px;}
.header-text h1{ font-family: "TheanoDidot"; margin-bottom: 10px; font-size: 44px; letter-spacing: 2px; font-weight: 300; margin-top: 0px;}
.header-text h4{ font-family: "GothaReg"; font-weight: 300; letter-spacing: 1px; margin: 0px;}
.header-text button{background: url(/content/dam/wedding/components/navigation/part.png); width: 232px; height: 62px; background-size: cover; margin-top: 40px; border: 0px;}
.header-text button:hover{cursor: pointer;}



@media(max-width:1120px){.gray-bg{ padding: 60px 50px 0px;}}
@media (max-width: 992px) {
	.header-text{padding: 0px 0px 200px;}
	.header-text h1{ font-size: 48px; line-height: 46px;}
	.main-bg{background-size: cover; background-image: url(/content/dam/wedding/components/navigation/tablet_cover.png); background-repeat: no-repeat; background-position: bottom;}
	.header-text button{margin-top: 100px;}
	.header{padding: 60px 60px 120px;}
	.gray-bg{ padding: 60px 30px 0px;}
}

@media (max-width: 425px) {
	.logo img{width: 150px; margin-top: 20px;}
	.header { padding: 30px 15px 120px;}
	.header-text h1{ font-size: 30px; line-height: 30px; }
	.header-text{padding: 0px 10px 90px;}
	.gray-bg{ padding: 60px 15px 0px;}
	.video iframe{height: 250px;}
	.header-text button{margin-top: 40px;}
}

/*section video*/
.video{text-align: center; display: none;}
.video iframe{width: 100%;}

@media (max-width: 992px){
	.video{ display: block;}
}

/* section benefints*/
#benefits-carousel{display: none;}
#benefits h3{margin-bottom: 0px;}
.benefits-block{padding: 0px; display: flex; flex-direction: row; justify-content: space-between; flex-wrap: wrap;}
.benefits-item{background-color: #fff; padding: 30px 60px; width: 36%; text-align: center; margin-top: 40px;}
.benefit-img{height: 120px; display: flex; align-items: center; justify-content: center;}
.benefits-item img{ width: 100px;}

@media(max-width: 992px) {
	.benefits-item{width: 41%; padding: 30px 20px 20px;}	
}

@media (max-width: 510px) {
	#benefits-carousel{display: block;}
	.benefits-block{display: none;}
	.benefits-item{ width: 90%; height: 185px; padding: 20px 10px 20px; margin-bottom: 10px;}
	.benefit-img{height: 100px;}
	.benefit-img img{width: 80px !important;}

}

/*sectiont with-us*/
#with-us-carousel{display: none;}
.white-bg{background-color: #fff; padding: 30px 90px;}
.with-us-block{display: flex; flex-direction: row; justify-content: space-between; flex-wrap: wrap;}
.with-us-item{width: 30%; height: 350px; margin-bottom: 35px;}
.with-us-desc{text-align: center; position: relative; color: #fff;}
.img-overlay{background: linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0)); width: 100%; height: 100%;}

.with-us-desc p{font-family: "TheanoDidot"; font-size: 22px; margin-bottom: 0px;}
.with-us-desc span{font-family: "GothaReg"; font-size: 13px; font-weight: 300; letter-spacing: 0.5px;}
.with-us-desc hr{width: 50%; margin: 5px auto;}
.with-us-desc .full-desc p{font-size: 11px !important; font-family: "GothaLight" !important; font-weight: 300 !important; padding: 0px 10px; line-height: 15px;}

.with-us-desc .short-desc{position: absolute; bottom: 20px; width: 100%;}
.with-us-desc .full-desc{display: none; margin-top: 20px;}

.with-us-item:hover {cursor: pointer;}
.with-us-item:hover .short-desc{bottom: 40px; }
.with-us-item:hover .full-desc{ display: block;}

.item-1{background-image: url(/content/dam/wedding/components/our_parnhners/with-us-1.jpg); background-size: cover; background-repeat: no-repeat; background-position: center;}
.item-2{background-image: url(/content/dam/wedding/components/our_parnhners/with-us-2.jpg); background-size: cover; background-repeat: no-repeat;  background-position: center;}
.item-3{background-image: url(/content/dam/wedding/components/our_parnhners/with-us-3.jpg); background-size: cover; background-repeat: no-repeat;  background-position: center;}
.item-4{background-image: url(/content/dam/wedding/components/our_parnhners/with-us-4.jpg); background-size: cover; background-repeat: no-repeat;  background-position: center;}
.item-5{background-image: url(/content/dam/wedding/components/our_parnhners/with-us-5.jpg); background-size: cover; background-repeat: no-repeat;  background-position: center;}
.item-6{background-image: url(/content/dam/wedding/components/our_parnhners/with-us-6.jpg); background-size: cover; background-repeat: no-repeat;  background-position: center;}

@media (max-width: 425px) {
	.white-bg{ padding: 30px 20px !important;}
	.with-us-item{margin-bottom: 20px !important;}
}
@media (max-width: 992px){
	#with-us-carousel{display: block;}
	.with-us-item{width: 100%; height: 350px;}
	.with-us-block{display: none;}
	.owl-dot.active span{width: 12px !important; height: 12px !important; background: #c3b89d !important;}
	.owl-dot span{ background: #acacac !important;}
	.owl-dots{display: flex; flex-direction: row; justify-content: center; align-items: center;}
	.white-bg{ padding: 30px 60px;}
}

/*section about-us*/
.about-us-block{background-image: url(/content/dam/wedding/page/about-us-bg.png); background-repeat: no-repeat; background-size: cover; background-position: center; padding: 100px 150px;}
.about-us-block button{background: url(/content/dam/wedding/components/navigation/part-black.png); width: 235px; height: 62px; background-size: cover; border: 0px;}
.about-us-block button:hover{cursor: pointer;}
.about-us-white{ background-color: #fff;  padding: 50px 55px;}
.about-us-white h3{margin-bottom: 0px;}
.about-us-white hr{width: 30%;}
.about-us-white p, .about-us-white h4 {text-align: center;}
.about-us-white p, .about-us-white ul li{color: #606060; font-family: "GothaLight"; font-size: 15px; line-height: 20px;}
.about-us-white h4{font-family: "GothaReg"; font-weight: 300;margin-top: 30px; margin-bottom: 15px;}
.about-us-white ul{margin: 0 auto; width: 55%; color: #606060;}
.about-us-btn{text-align: center;  margin-top: 60px;}

@media (max-width: 425px) {
	.about-us-block{padding: 40px 15px 60px !important;}
	.about-us-white hr{width: 50%;}
	.about-us-white{padding: 50px 15px !important;}
	.about-us-white ul{ width: 85% !important;}
	.about-us-btn { margin-top: 40px;}
}

@media(max-width: 992px){
	.about-us-block{padding: 100px 60px;}
	.about-us-white ul{ width: 75%;}
	.about-us-white{ padding: 40px 55px 50px;}
}

/**timer*/
#time{padding: 60px 350px;}
#time p{text-align: center; text-transform: uppercase; color: #5f5f5f; font-size: 24px; margin-top: 0px;}
#timer{cursor: default;	display: flex; flex-direction: row; justify-content: space-between; align-items: center;} 

.time-block{display: flex; flex-direction: column; justify-content: center;align-items: center; width: 23%; }

#timer .number{ background: linear-gradient(to bottom, #c3b89d, #84785b); display: flex; align-items: center; justify-content: center; color: #fff;font-family: "TheanoDidot";font-size: 76px; padding-top: 10px; width: 100%; height: 100px;}
.time-block p{font-size: 14px !important; margin-top: 15px !important;}


@media (max-width: 992px){
	#time{padding: 60px 120px;}
}
@media (max-width: 600px) {
	#time{padding: 60px 20px;}
	#timer{font-size: 36px;}
	#timer .number{ background: linear-gradient(to bottom, #c3b89d, #84785b); display: flex; align-items: center; justify-content: center; color: #fff;font-family: "TheanoDidot";font-size: 46px; padding-top: 10px; width: 100%; height: 60px;}
	
}

/*footer*/
footer{padding: 50px !important;}
.logo-bottom{text-align: center; margin-bottom: 25px;}
.contact-info{display: flex; flex-direction: column; justify-content: center; align-items: center; color: #606060;}
.contact-phone{display: flex; flex-direction: row; justify-content: center; align-items: center; margin-bottom: 15px;}
.contact-info a{ margin: 0px; font-size: 15px; text-decoration: none; font-family: "GothaReg"; font-weight: 100 !important; letter-spacing: 1px; color: #606060;}
.contact-info a:hover{text-decoration: none;}
.contact-phone img{margin-right: 10px;}

footer hr{width: 20% !important; margin: 30px auto;}
.contact-social{width: 10%; display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin: 0 auto;}

@media(max-width: 992px){	
	footer hr{width: 40% !important;}
	.contact-social{width: 16%;}
}
@media (max-width: 425px) {
	footer hr{width: 70% !important;}
	.contact-social{width: 40%;}
}

@media (min-width:1630px){
	h3{font-family: "TheanoDidot"; font-size: 60px; font-weight: 300; text-align: center; margin-top: 0px;}
	.signup a { font-size: 18px;}
	
	.header-text{padding: 100px 0px 250px;}
	.header-text button {
    background: url(/content/dam/wedding/components/navigation/butt-white.png);
    width: 319px; height: 85px; margin-top: 80px;
}
	.header-text h1{ font-size: 78px; }
	.header-text h4{font-size: 27px;}
	
	.gray-bg{padding: 80px 250px 0px;}
	
	.benefits-item{width: 39%; padding: 40px 60px;}
	p{font-size: 28px;}
	
	.with-us-item{height: 450px;}
	.with-us-desc p {font-size: 30px; }
	.with-us-desc span {font-size: 15px; }
	.with-us-desc .full-desc p{font-size: 15px !important; }
	
	.about-us-white { padding: 70px 95px;}
	
	.about-us-block{padding: 100px 200px;}
	.about-us-white p, .about-us-white ul li{font-size: 18px; }
	.about-us-white h4 {font-size: 27px;}
	.about-us-block button {
    background: url(/content/dam/wedding/components/navigation/butt-black.png);
		width: 319px; height: 85px;}
	
	#time{padding: 60px 0px;}
	#timer{ width: 40%; margin: 0 auto;}
	.time-block{ width: 20%; }
	
	.logo-bottom img{width: 270px;}
	.contact-info a{ font-size: 17px; }
	.contact-social{width: 7%;}
}
