@font-face {
    font-family: "Rosa Marena";
    src: url("/etc/clientlibs/wedding/pages/fonts/ROSA_MARENA.TTF");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GothamPro-Black";
    src: url("/etc/clientlibs/wedding/pages/fonts/GOTHAPROBLA.OTF");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GothamPro-BlackItalic";
    src: url("/etc/clientlibs/wedding/pages/fonts/GOTHAPROBLAITA.OTF");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "GothamPro-Bold";
    src: url("/etc/clientlibs/wedding/pages/fonts/GOTHAPROBOL.OTF");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "GothamPro-BoldItalic";
    src: url("/etc/clientlibs/wedding/pages/fonts/GOTHAPROBOLITA.OTF");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "GothamPro-Italic";
    src: url("/etc/clientlibs/wedding/pages/fonts/GOTHAPROITA.OTF");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "GothamPro-Light";
    src: url("/etc/clientlibs/wedding/pages/fonts/GOTHAPROLIG.OTF");
    font-weight: 100; /* Проверить */
    font-style: normal;
}

@font-face {
    font-family: "GothamPro-LightItalic";
    src: url("/etc/clientlibs/wedding/pages/fonts/GOTHAPROLIGITA.OTF");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "GothamPro-Medium";
    src: url("/etc/clientlibs/wedding/pages/fonts/GOTHAPROMED.OTF");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GothamPro-MediumItalic";
    src: url("/etc/clientlibs/wedding/pages/fonts/GOTHAPROMEDITA.OTF");
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: "GothamProNarrow-Bold";
    src: url("/etc/clientlibs/wedding/pages/fonts/GOTHAPRONARBOL.OTF");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "GothamProNarrow-Medium";
    src: url("/etc/clientlibs/wedding/pages/fonts/GOTHAPRONARMED.OTF");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Theano Didot";
    src: url("/etc/clientlibs/wedding/pages/fonts/THEANODIDOT-REGULAR.TTF");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GothamPro";
    src: url("/etc/clientlibs/wedding/pages/fonts/GOTHAPROREG.OTF");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "Theano Didot";
  src: url("/etc/clientlibs/wedding/pages/fonts/THEANODIDOT-REGULAR.TTF");
  font-weight: normal;
  font-style: normal;
}


body{
  font-family: 'Theano Didot',  serif;
  font-weight: lighter;
  font-size: 20px;
  line-height: 1.5;
}

img, body, header, footer, nav, aside, article, section, figure, p, ul, ol, li, h1, h2, h3,h4,h5,h6, input  {
  padding:0;  margin:0;
}

header{  
  height: 225px;
  display: flex;
  justify-content:  center;
}

a {  text-decoration: none; color: #000; white-space: nowrap; }

.central-head{
  align-self: center;
  padding: 0 7%;
}

.right-head{
 padding: 20px 0 0 5%;
}

.central-head--title{
  font-family: 'Rosa Marena', cursive;
  font-size: 48px;
  text-align: center;
}

#entrance-cabinet-btn, #registration-btn {  /*кнопки рег и входа*/
  cursor: pointer;
}

.vert-line{
  font-size: 24px;
}

.empty{
	width:170px;
	padding: 0 5% 0 0;
}


/* ==== nav ==== */
.main-menu{
  box-sizing: border-box;
  text-transform: uppercase; 
  height: 75px;
}

.main-menu ul{
  display: flex;	
  flex-direction: row;
}

.main-menu li {   
  list-style-type: none;
  box-sizing: border-box;
  font-size: 22px;
  white-space: nowrap;
  padding: 20px;
}

.main-menu a{
  box-sizing: border-box; 
  padding: 20px 0;
  text-align: center;
}

#promo-btn .promo-btn-procent{	 
  color: red;
}

/*=====  main start ======*/
main{
  width: 70%;
  margin: 0 auto;
}

.top-bar{
  min-height: 150px;
  background-color: #f4f4f4;
  text-align: center;
  margin: 2%;
}

.container-search-pro{
  min-height: 200px;
  color: #fff;
  margin: 20px 2% 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.search-pro_content{
  padding: 20px 0 25px 3%;
}

.container-search-usually{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.search-usually{
  width: 29.3333333%;
  min-height: 350px;
  margin: 2%;
  /*  background-color: #cdfbf8;  */
  cursor: pointer;
}

.search-usually_img{
  width: 100%;
  height: 75%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.search-usually:nth-child(1) .search-usually_img{
  background-image: url('/etc/clientlibs/wedding/pages/images/any_img/d2_4.jpg');
}

.search-usually:nth-child(2) .search-usually_img{
  background-image: url('/etc/clientlibs/wedding/pages/images/any_img/d2_1.jpg');
}

.search-usually:nth-child(3) .search-usually_img{
  background-image: url('/etc/clientlibs/wedding/pages/images/any_img/d2_2.jpg');
}
.search-usually_content_name{
  line-height: 1;
  padding-top: 7px;
  font-weight: bold;
}

.search-usually_content_hline{
  line-height: 1;
  font-size: 15px;
}

.search-usually_content_speciality{
  font-size: 12pt;
}

.btn-up{
 /* display: none;*/
  position: fixed; 
  right: 7%;
  bottom: 15%;
}
.btn-up a{ padding: 20px;}



/*======== Footer =======*/

footer{
  padding-top: 100px;
  min-height: 250px;
  text-align: center;
}

.foot--title{
  font-family: 'Rosa Marena', cursive;
  font-size: 40px;
  text-align: center;
  flex-direction: column;
}

.phone-div a{
  color: #8af; 
}

.mail-div a{
  color: #79d;
}

.line-div{
  color: #abf;
}

.social-btn-block{
  color: #bbf;
}



/*  =========   форма входа */
#entrance-form {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(204, 204, 204, 0.6);
  visibility: hidden;
}

.mwindow {
  text-align: center;
  background-color: #f4f4f4;
  border: 1px solid #000;
  position: absolute;
  z-index: 10;
  margin: 0;
  visibility: hidden;
}

.window-entrance{
  min-width: 60%;
  min-height: 50%;
}

.container-window-entrance{
  padding: 5% 0;
  width: 360px;
  font-size: 15pt;
  margin: 0 auto;
}

.social-inter{
  display: flex;
  justify-content: space-between;
}

#remember-ident{
  vertical-align: middle;
}

.title-inter{
  font-size: 29pt;
}

.inp-user-email, .inp-user-password {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
}

.remember-forget{
  display: flex;
  justify-content: space-around;
}

.btn-enter{
  border: none;
}

/*  =========  end  форма входа */
