@font-face {
  font-family: "Theano Didot";
  src: url("../fonts/THEANODIDOT-REGULAR.TTF");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Rosa Marena";
  src: url("../fonts/ROSA_MARENA.TTF");
  font-weight: normal;
  font-style: normal;
}



body{
  font-family: 'Theano Didot',  serif;
  font-weight: lighter;
  font-size: 20px;
  line-height: 1.5;
 
}

img, body, header, footer, nav, aside, article, section, figure, ul, ol, li, h1, h2, h3,h4,h5,h6 {
  padding:0;  margin:0;
}

header{  
  height: 175px;
  display: flex;
  justify-content:  center;


}

a {  text-decoration: none; color: #000; white-space: nowrap; }

.central-head{
  align-self: center;
  padding: 0 7%;
}

.right-head{
 padding: 20px 0 0 5%;
}

.central-head--title{
  font-family: 'Rosa Marena', cursive;
  font-size: 48px;
  text-align: center;
}

.empty{
	width:170px;
	padding: 0 5% 0 0;

}

/*  =========   форма входа */
#entrance-form {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(204, 204, 204, 0.6);
  visibility: hidden;
}

.mwindow {
  text-align: center;
  background-color: #f4f4f4;


  border: 1px solid #000;
  position: absolute;
  z-index: 10;
  margin: 0;
  visibility: hidden;

}

.window-entrance{
  min-width: 60%;
  min-height: 50%;

}

.container-window-entrance{
  padding: 5% 0;
  width: 360px;
  /**/
  font-size: 15pt;
  margin: 0 auto;
}

.social-inter{
  display: flex;
  justify-content: space-between;
}

#remember-ident{
  vertical-align: middle;
}

.title-inter{
  font-size: 29pt;
}

.inp-user-email, .inp-user-password {
  box-sizing: border-box;
  width: 100%;
  height: 30px;

}

.remember-forget{

  display: flex;
  justify-content: space-around;
}

.btn-enter{
  border: none;
}

/*  =========  end  форма входа */



/* ==== nav ==== */
.main-menu{
   
  box-sizing: border-box;
  text-transform: uppercase; 
  height: 75px;

}

.main-menu ul{
  display: flex;	
  flex-direction: row;
}
 

.main-menu li {   
  list-style-type: none;
  box-sizing: border-box;
  font-size: 22px;
  white-space: nowrap;
  padding: 20px;
}

.main-menu a{
  box-sizing: border-box; 
  padding: 20px 0;
    
  text-align: center;  
  
}
 
 

#promo-btn .promo-btn-procent{	 
	color: red;
}


/*=====  main start ======*/
main{
	min-height: 800px;
  width: 70%;
  margin: 0 auto;

}

.top-bar{
	min-height: 150px;
	background-color: #57f;
  text-align: center;
}

.container-search-vip{
  text-align: center;
  min-height: 200px;
  background-color: #dbf;  
  margin-top: 20px;
}

.container-search-usually{
  text-align: center;
  min-height: 600px;
  background-color: #89f;  
  margin-top: 20px;
}

.btn-up{
  display: none;
  position: fixed; 
  right: 7%;
  bottom: 15%;
}
.btn-up a{ padding: 20px;}




/*======== Footer =======*/

footer{
  padding-top: 100px;
  min-height: 250px;
  text-align: center;
}


.foot--title{
  font-family: 'Rosa Marena', cursive;
  font-size: 40px;
  text-align: center;
  flex-direction: column;
}

.phone-div a{
  color: #8af; 
}

.mail-div a{
  color: #79d;
}
.line-div{
  color: #abf;
}

.social-btn-block{
  color: #bbf;
}

