<section id="cabinet-input-block" class="right-head cabinet-input">

    <div id="cabinet_login">
        <span id="entrance-cabinet-btn"> Вход </span>
        <span class="vert-line">&#124;</span>
        <span id="registration-btn"> Регистрация </span>
    </div>

    <div id="cabinet_success">

        <div class="mail-count"> Сообщения (12) </div>
        <div class="mini-avatar"> </div>
        <div class="for-mail-icon"> </div>
        <div class="mini-menu">
            <img src="/etc/clientlibs/wedding/pages/images/on_all_pages/header/drop_arrow_menu.png" alt="drop-down">
        </div>

    </div>

</section>