<sly data-sly-use.catalogNavigationModel="wedding.models.components.CatalogNavigationModel">
    <div id="catalog_navigation_block">
        <nav class="catalog_categories_nav">
            <sly data-sly-list.category="${catalogNavigationModel.catalogList}">
                <li class="catalog_categories_nav_item">
                    <a href="${category.pagePath}.html" class="catalog_categories_nav_item_link">
                        <span class="categoryImageTitle">${category.pageTitle}</span>
                        <img class="categoryImage" src="${category.smallCategoryImage}"/>
                    </a>
                </li>
            </sly>
        </nav>
    </div>
</sly>





