#mainCatalog_navigation_block{
    border-top: 1px solid rgba(78, 78, 78, 0.66);
    margin: 200px auto auto;
    width: 70%;
    padding-top: 50px;
}

.mainCatalog_categories_nav{
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.mainCatalog_categories_nav_item{
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    padding: 6px;
}

.mainCategoryImageTitle{
    display: block;
    padding-top: 80px;
    text-decoration: none;
    color: #383434;
    font-size: 18px;
    text-transform: uppercase;
}

.item-image-container{
    width: 290px;
    height: 220px;
    background-size: cover;
}
