<div id="landing-partners-page-content">

    <main class="lend-partners-main">

        <div class="video-block">
            <iframe src="https://www.youtube.com/embed/QCBtOO1bBKo?rel=0" frameborder="0"
                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>

        <h2 class="benifits-title"> Наши преимущества </h2>

        <section class="benifits-container">

            <div class="benifits1 benifits">
                <img src="/etc/clientlibs/wedding/pages/images/landing_parthner/Desktop/Computer_Assets/benifits_icons/Ad_campaign.png"
                     alt="benifits-campaign">
                <h3 class="benifits-text"> Крупная рекламмная компания</h3>
            </div>

            <div class="benifits2 benifits">
                <img src="/etc/clientlibs/wedding/pages/images/landing_parthner/Desktop/Computer_Assets/benifits_icons/consultation.png"
                     alt="benifits-consultation">
                <h3 class="benifits-text"> Консультация по правильному продвижению на нашем сайте </h3>
            </div>

            <div class="benifits3 benifits">
                <img src="/etc/clientlibs/wedding/pages/images/landing_parthner/Desktop/Computer_Assets/benifits_icons/Free_use.png"
                     alt="benifits-Free_use">
                <h3 class="benifits-text"> Бесплатное пользование в течении 2-x месяцев </h3>
            </div>

            <div class="benifits4 benifits">
                <img src="/etc/clientlibs/wedding/pages/images/landing_parthner/Desktop/Computer_Assets/benifits_icons/Services.png"
                     alt="benifits-Services">
                <h3 class="benifits-text"> Бесплатные услуги копирайтера и фотографа</h3>
            </div>

        </section>

        <h3 class="with-us-title"> Уже с нами</h3>

        <section class="with-us-container">

            <div></div>
            <div class="with-us-div">
                <div class="with-us-content ">
                    <p class="with-us-name">NOVAwedding</p>
                    <p class=" "> ______________ </p>
                    <p class=" ">	ивент агенство	</p>
                    <p class="with-us-text">
                        Топ 3 ивент агенство 2016 года Беларуси.
                        За 8 лет в развлекательной индустрии сделали незабываемыми более 2000 престижных свадеб.
                    </p>
                </div>
            </div>

            <div class="with-us-div">
                <div class="with-us-content ">
                    <p class="with-us-name">Сергей Михалевич	</p>
                    <p class=" "> ______________ </p>
                    <p class=" ">	ведущий	</p>
                    <p class="with-us-text">
                        Шоумен года Беларуси 2016.
                        Топовый ведущий праздников, телеведущий, сценарист.
                        Самый красивый ведущий по версии его бабушки.
                        За 6 лет в развлекательной индустрии сделал незабываемыми более 400 престижных свадеб.
                    </p>
                </div>
            </div>

            <div class="with-us-div">
                <div class="with-us-content ">
                    <p class="with-us-name">Алексей Тюшкевич</p>
                    <p class=" "> ______________ </p>
                    <p class=" ">видеооператор</p>
                    <p class="with-us-text">
                        Видеооператор от бога.
                        Один из самых востребованных операторов 2018
                        За 5 лет в развлекательной индустрии сделал более 5000 видеороликов.
                    </p>
                </div>
            </div>

            <div class="with-us-div">
                <div class="with-us-content ">
                    <p class="with-us-name">Группа Open Space	</p>
                    <p class=" "> ______________ </p>
                    <p class=" ">	музыканты	</p>
                    <p class="with-us-text">
                        Лучшие музыканты 2017 по версии журнала Wedding.by
                        Их можно слушать ночи напролет.
                        За 4 года отыграли огромное количество концертов и являются желанными на любой свадьбе.
                    </p>
                </div>
            </div>

            <div class="with-us-div">
                <div class="with-us-content ">
                    <p class="with-us-name">"Сезон декора"	</p>
                    <p class=" "> ______________ </p>
                    <p class=" ">дизайн-студия</p>
                    <p class="with-us-text">
                        Декоратор - это призвание.
                        Так ли это - можно убедиться взглянув на их портфолио.
                        Они только начинают свой путь в развлекательной индустрии, однако уже немало раз смогли всех удивить.
                    </p>
                </div>
            </div>

            <div class="with-us-div">
                <div class="with-us-content ">
                    <p class="with-us-name">Андрей Денисов</p>
                    <p class=" "> ______________ </p>
                    <p class=" ">	стилист	</p>
                    <p class="with-us-text">
                        Прическе из-под его рук может позавидовать сама Британская королева.
                        Стилист - это слабо сказано, его можно назвать волшебником, т.к. любая его работа является просто сказкой.
                    </p>
                </div>
            </div>

        </section>

        <section class="about-us-container">

            <div class="about-us-frame">

                <h3 class="about-us-title"> О нас </h3>

                <p class="about-us-line"> ________________________ </p>

                <p class="about-us-text"> Мы молоды, полны новых идей и страстно увлечены работой. Наша цель - всегда
                    быть актуальными и стильными, придерживаться высоких стандартов во всем.</p>

                <h4 class="about-us-help-title"> мы поможем вам</h4>

                <div class="about-us-help-text-container">

                    <ul class="about-us-help-text">
                        <li class=" ">работать эффективней</li>
                        <li class=" ">расширить бизнес и получить новых клиентов</li>
                        <li class=" ">создать уникальное портфолио и рекламму</li>
                    </ul>

                </div>

            </div>

            <div>
                <button class="btn-become-partner2"></button>
            </div>

        </section>

        <section class="timer-container">

            <h3 class="timer-title"> ДО ОТКРЫТИЯ САЙТА </h3>

            <div class="timer-board">

                <figure>
                    <span id="timer_day"> dd </span>
                    <figcaption> Дней</figcaption>
                </figure>

                <figure>
                    <span id="timer_hour"> hh </span>
                    <figcaption> Часов</figcaption>
                </figure>

                <figure>
                    <span id="timer_minute"> mm </span>
                    <figcaption> Минут</figcaption>
                </figure>

                <figure>
                    <span id="timer_second"> ss </span>
                    <figcaption> Секунд</figcaption>
                </figure>

            </div>

        </section>

    </main>
</div>