<div id="landing-partners-page-content">

     <main class="lend-partners-main">

        <h2 class="benifits-title"> Наши преимущества </h2>

        <section class="benifits-container">

            <div class="benifits1 benifits">
                <img src="/etc/clientlibs/wedding/pages/images/landing_parthner/Desktop/Computer_Assets/benifits_icons/Ad_campaign.png" alt="benifits-campaign">
                <h3 class="benifits-text"> Крупная рекламмная компания</h3>
            </div>

            <div class="benifits2 benifits">
                <img src="/etc/clientlibs/wedding/pages/images/landing_parthner/Desktop/Computer_Assets/benifits_icons/consultation.png" alt="benifits-consultation">
                <h3 class="benifits-text"> Консультация по правильному продвижению на нашем сайте </h3>
            </div>

            <div class="benifits3 benifits">
                <img src="/etc/clientlibs/wedding/pages/images/landing_parthner/Desktop/Computer_Assets/benifits_icons/Free_use.png" alt="benifits-Free_use">
                <h3 class="benifits-text"> Бесплатное пользование в течении 2-x месяцев </h3>
            </div>

            <div class="benifits4 benifits">
                <img src="/etc/clientlibs/wedding/pages/images/landing_parthner/Desktop/Computer_Assets/benifits_icons/Services.png" alt="benifits-Services">
                <h3 class="benifits-text"> Бесплатные услуги копирайтера и фотографа</h3>
            </div>

        </section>

        <h3 class="with-us-title"> Уже с нами</h3>

        <section class="with-us-container">

            <div class="with-us-div">
                <div class="with-us-content ">
                    <p class=" ">Sgsdg sSDFGSD	</p>
                    <p class=" "> ______________ </p>
                    <p class=" ">	стилист	</p>
                </div>
            </div>

            <div class="with-us-div">
                <div class="with-us-content ">
                    <p class=" ">Sgsdg sSDFGSD	</p>
                    <p class=" "> ______________ </p>
                    <p class=" ">	стилист	</p>
                </div>
            </div>

            <div class="with-us-div">
                <div class="with-us-content ">
                    <p class=" ">Sgsdg sSDFGSD	</p>
                    <p class=" "> ______________ </p>
                    <p class=" ">	стилист	</p>
                </div>
            </div>

            <div class="with-us-div">
                <div class="with-us-content ">
                    <p class=" ">Sgsdg sSDFGSD	</p>
                    <p class=" "> ______________ </p>
                    <p class=" ">	стилист	</p>
                </div>
            </div>

            <div class="with-us-div">
                <div class="with-us-content ">
                    <p class=" ">Sgsdg sSDFGSD	</p>
                    <p class=" "> ______________ </p>
                    <p class=" ">	стилист	</p>
                </div>
            </div>

            <div class="with-us-div">
                <div class="with-us-content ">
                    <p class=" ">Sgsdg sSDFGSD	</p>
                    <p class=" "> ______________ </p>
                    <p class=" ">	стилист	</p>
                </div>
            </div>

        </section>

        <section class="about-us-container">

            <div class="about-us-frame">

                <h3 class="about-us-title"> О нас </h3>

                <p class="about-us-line"> ________________________ </p>

                <p class="about-us-text"> Мы молоды, полны новых идей и страстно увлечены работой. Наша цель - всегда быть актуальными и стильными, придерживаться высоких стандартов во всем.</p>

                <h4 class="about-us-help-title"> мы поможем вам</h4>

                <div class="about-us-help-text-container">

                    <ul class="about-us-help-text">
                        <li class=" ">работать эффективней</li>
                        <li class=" ">расширить бизнес и получить новых клиентов</li>
                        <li class=" ">создать уникальное портфолио и рекламму</li>
                    </ul>

                </div>

            </div>

            <div>
                <button class="btn-become-partner2">   </button>
            </div>

        </section>

        <section class="timer-container">

            <h3 class="timer-title"> ДО ОТКРЫТИЯ САЙТА  </h3>

            <div class="timer-board">

                <figure>
                    <span id="timer_day"> dd </span>
                    <figcaption> Дней </figcaption>
                </figure>

                <figure>
                    <span id="timer_hour"> hh </span>
                    <figcaption> Часов </figcaption>
                </figure>

                <figure>
                    <span id="timer_minute"> mm </span>
                    <figcaption> Минут </figcaption>
                </figure>

                <figure>
                    <span id="timer_second"> ss </span>
                    <figcaption> Секунд </figcaption>
                </figure>

            </div>

        </section>

    </main>
</div>