<div class="lend-partners-header">

    <div class="top-section-lend-partners-header">

        <h1 class="lend-partners-header-title"><a href="/content/wedding-partners.html"> Твоя Свадьба </a></h1>

    </div>

    <div class="bot-section-lend-partners-header">
        <h2 class="lend-partners-header-title2"> Каталог свадебных услуг Беларуси </h2>
        <p class="lend-partners-header-slogan"> Мы предлагаем решения, которые работают </p>

        <div>
            <button class="btn-become-partner"></button>
        </div>

    </div>

    <!--<sly data-sly-include="${@ path='/apps/wedding/components/content/filter/cabinet-input-bl.html'}"></sly>-->

</div>





