<div class="lend-partners-header">

	<div class="top-section-lend-partners-header">

		<h1 class="lend-partners-header-title"> <a href="/content/wedding-partners.html"> Твоя Свадьба </a> </h1>

	</div>

	<div class="bot-section-lend-partners-header">
		<h2 class="lend-partners-header-title2"> Каталог свадебных услуг Беларуси </h2>
		<p class="lend-partners-header-slogan"> Мы предлагаем решения, которые работают </p>

		<div>
			<button class="btn-become-partner">   </button>
		</div>

	</div>

	<section id="cabinet-input-block" class="right-head cabinet-input">

		<div id="cabinet_login">
			<span id="entrance-cabinet-btn"> Вход </span>
			<span class="vert-line">&#124;</span>
			<span id="registration-btn"> Регистрация </span>
		</div>

		<div id="cabinet_success">

			<div class="mail-count"> Сообщения (12) </div>
			<div class="mini-avatar"> </div>
			<div class="for-mail-icon"> </div>
			<div class="mini-menu">
				<img src="/etc/clientlibs/wedding/pages/images/on_all_pages/header/drop_arrow_menu.png" alt="drop-down">
			</div>

		</div>

	</section>

</div>





