<main id="partner-page-content">

    <div class="partner_menu">

        <ul>

            <li id="partner_about_oneself_btn" >О себе</li>
            <li >Фото</li>
            <li >Видео</li>
            <li id="partner_akcii_btn">Акции</li>
            <li >Отзывы</li>

        </ul>


    </div>

    <div class="partner-page-wrapper">

        <aside id="partner_aside"  class="" >

            <div class="partner_aside_photo"></div>

            <h3 class="partner_name"></h3>


        </aside>



        <div id="partner-page-pages">

            <section id="partner_about_oneself" >

                <div >

                    <h2 class="partner_title"> О себе </h2>
                    <p class="h_line">___________</p>
                    <p class="content_about_oneself"> Тру-ля-ля</p>

                </div>

            </section>

            <section id="partner_photo" class="hidden_full">

                <div >

                    <h2 class="partner_title"> Фото </h2>
                    <p class="h_line">___________</p>

                </div>


            </section>

            <section id="partner_video" class="hidden_full">

                <div >

                    <h2 class="partner_title"> Видео </h2>
                    <p class="h_line">___________</p>

                </div>


            </section>

            <section id="partner_akcii" class="hidden_full">

                <div >

                    <h2 class="partner_title"> Акции </h2>
                    <p class="h_line">___________</p>
                    <p class="content_"> Тра-ЛЮ_ЛЮ</p>

                </div>


            </section>

            <section id="partner_otzyvy" class="hidden_full">

                <div >

                    <h2 class="partner_title"> Отзывы </h2>
                    <p class="h_line">___________</p>
                    <p class="content_"> Три-ле-ле</p>

                </div>


            </section>

        </div>

    </div>

</main>