/***************** NAVIGATION ********************/
.nav_block-for-landing{
    background: url(/content/dam/wedding/components/largeimage/cover%20photo.png) no-repeat center;
    background-size: cover;
    height: 1079px;
    display: flex;
    flex-direction: column;
}

.main_top_nav-for-landing{
    padding-top: 50px;
}
.main_top_nav-for-landing li{
    width: 50%;
    text-align: right;
}

.logo_nav-for-landing a{
    position: relative;
    right: -150px;
}

.user-login-registration-for-landing .login-registration-block{
    height: 100px;
    margin: 0;
    padding: 35px 100px 0 0;
}

.title-nav-container{
    margin: 300px auto 0;
    display: flex;
    flex-direction: column;
    text-align: -webkit-center;
}

.title-nav-container .large-image-button{
    background : url(/content/dam/wedding/components/navigation/Partner%20Button%201.png);
    width: 319px;
    height: 85px;
}

.title-nav-container .large-image-button:hover{
    background : url(/content/dam/wedding/components/navigation/Partner%20Button%202.png);
    width: 319px;
    height: 85px;
}

.title-nav-container .large-title-nav, .title-nav-container .small-title-nav, .title-nav-container .button-nav{
    margin-top: 50px;
}


/*************** MEDIA QUERIES *******************/
@media all and (min-width: 992px){
    .main_top_nav-for-landing .main_top_nav_list-for-landing{
        display: flex;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .main_top_nav-for-landing {
        height: 100px;
        width: 100%;
    }

    .main_top_nav-for-landing li.logo_nav-for-landing {
        padding: 0;
        margin: 0;

    }
}

@media all and (max-width: 992px) {

    .main_top_nav-for-landing li.logo_nav-for-landing {
        padding: 0;
        margin: 0;
    }

}