<sly data-sly-test="${!properties.fileReference}">
    <h3>Please edit dialog</h3>
</sly>
<div class="large-image-block">
 	<div class="large-image" style="background-image: url(${properties.fileReference @ context='uri'});">
		<sly data-sly-test="${properties.text}">
        	<div class="text-container ${properties.textalign}">
				<p>${properties.text}</p>
			</div>
        </sly>
        <sly data-sly-test="${properties.buttontittle && properties.path}">
        	<div class="button-container ${properties.buttonalign}">
                <a href="${properties.path}.html">
					<button class="large-image-button">${properties.buttontittle}</button>
                </a>
			</div>
        </sly>
    </div>
</div>