<div id="category-page-content">

    <main class="main-block">

        <section class="top-bar">

            <div class="top-bar-menu">

            </div>

            <div>

                <select id="partner_categories_select" name="partner">

                    <option id="photo_select" value="photographers">Фотографы</option>

                </select>

                <select id="city_select" name="City">

                    <option value="minsk" disabled> Город</option>
                    <option value="minsk" selected> Минск</option>
                    <option value="brest"> Брест</option>
                    <option value="vitebsk"> Витебск</option>
                    <option value="gomel"> Гомель</option>
                    <option value="grodno"> Гродно</option>
                    <option value="mogilev"> Могилев</option>

                </select>

                <input id="date" type="date" value="2018-06-01">

            </div>

            <div>
                <label class="num_field_label" for="ticketNum"> Бюджет</label>
                <input class="num_field" type="number" name="min" placeholder="от" value="500" step="50">
                <input class="num_field" type="number" name="max" placeholder="до" value="1000" step="50">
                <label class="num_field_label2" for="max"> руб. </label>

                <label for="ticketNum">Сортировать по:</label>
                <select id="sort_select" name="sort">
                    <option value="prise">Цене</option>
                    <option value="popular" selected>Популярности</option>
                    <option value="reit">Рейтингу</option>
                </select>

            </div>

        </section>


        <section>

    <!--        <div id="search-pro1" class="container-search-pro">
                <div class="search-pro">
                    <div class="search-pro_content">
                        <p class="search-usually_content_name">Vrangel </p>
                        <p class="search-usually_content_hline"> ______________ </p>
                        <p class="search-usually_content_speciality"> ведущий </p>
                        <div class="search-usually_content_stars"> ****</div>
                        <p class="pro_phone">+ 375 29 654 53 52 </p>
                        <p class="pro_vk"> vk.com </p>
                    </div>
                </div>
            </div>

            <div id="search-pro2" class="container-search-pro">
                <div class="search-pro2">
                    <div class="search-pro_content">
                        <p class="search-usually_content_name"> Lina Mid </p>
                        <p class="search-usually_content_hline"> ______________ </p>
                        <p class="search-usually_content_speciality"> агентство </p>
                        <div class="search-usually_content_stars"> *****</div>
                        <p class="pro_phone">+ 375 29 654 53 52 </p>
                        <p class="pro_vk"> vk.com </p>
                    </div>
                </div>

            </div>-->

            <div class="hidden_full">

                <div class="search-usually">
                    <a class="partner_card_href" href="/content/wedding/catalog/category/partner.html?">

                        <div class="search-usually_img"></div>
                        <div class="search-usually_content">
                            <p class="search-usually_content_name">Зеленая миля </p>
                            <p class="search-usually_content_hline"> ______________ </p>
                            <p class="search-usually_content_speciality"> стилист </p>
                            <div class="search-usually_content_stars"> *****</div>
                        </div>
                    </a>
                </div>

            </div>

            <div id="search-usually-cont" class="container-search-usually">

                <div class="search-usually">
                    <div class="search-usually_img"></div>
                    <div class="search-usually_content">
                        <p class="search-usually_content_name">Зеленая миля </p>
                        <p class="search-usually_content_hline"> ______________ </p>
                        <p class="search-usually_content_speciality"> стилист </p>
                        <div class="search-usually_content_stars"> *****</div>
                    </div>
                </div>

                <div class="search-usually">
                    <div class="search-usually_img"></div>
                    <div class="search-usually_content">
                        <p class="search-usually_content_name"> Красная заря </p>
                        <p class="search-usually_content_hline"> ______________ </p>
                        <p class="search-usually_content_speciality"> декоратор </p>
                        <div class="search-usually_content_stars"> *****</div>
                    </div>
                </div>

                <div class="search-usually">
                    <div class="search-usually_img"></div>
                    <div class="search-usually_content">
                        <p class="search-usually_content_name">Рыжая паля </p>
                        <p class="search-usually_content_hline"> ______________ </p>
                        <p class="search-usually_content_speciality"> фотограф </p>
                        <div class="search-usually_content_stars"> *****</div>
                    </div>
                </div>

            </div>

        </section>

    </main>

</div>