<sly data-sly-use.navigationModel="wedding.models.components.NavigationModel">
    <div class="nav_block">
        <nav class="main_top_nav">
            <ul class="main_top_nav_list">
                <li class="logo_nav"><a href="${navigationModel.homePath}.html">
                    <img class="img-topnav" src="${navigationModel.imagePath}" alt="Logo"></a></li>
                <sly data-sly-list="${navigationModel.childPages}">
                    <li class="main_top_nav_list_item"><a href="${item.path}.html"
                                                          class="${currentPage.path == item.path ? 'is_active_page' : ''}">${item.title}</a>
                    </li>
                </sly>
                <li class="user-login-registration">
                    <sly data-sly-resource="${ @ path='login-registration' ,resourceType='wedding/components/structure/login-registration'}"></sly>
                </li>
            </ul>
            <label for="css-toggle-menu"></label>
        </nav>
    </div>
</sly>
