<sly data-sly-use.navigationModel="wedding.models.components.NavigationModel">
    <div class="nav_block-for-landing">
        <nav class="main_top_nav-for-landing">
            <ul class="main_top_nav_list-for-landing">
                <li class="logo_nav-for-landing"><a href="${navigationModel.homePath}.html">
                    <img class="img-topnav-for-landing" src="${navigationModel.imagePath}" alt="Logo"></a></li>
                <sly data-sly-list="${navigationModel.childPages}">
                    <li class="main_top_nav_list_item"><a href="${item.path}.html"
                                                          class="${currentPage.path == item.path ? 'is_active_page' : ''}">${item.title}</a>
                    </li>
                </sly>
                <li class="user-login-registration-for-landing">
                    <sly data-sly-resource="${ @ path='login-registration' ,resourceType='wedding/components/structure/login-registration'}"></sly>
                </li>
            </ul>
        </nav>
        <div class="title-nav-container">
            <div class="large-title-nav">
                <h1>Каталог свадебных услуг Беларуси</h1>
            </div>
            <div class="small-title-nav">
                <h5>Мы предлагаем решения, которые работают</h5>
            </div>
            <div class="button-nav">
                <a id="login-registration-button" href="#login-popup">
                    <div class="large-image-button"></div>
                </a>
            </div>
        </div>
    </div>
</sly>
