<div class="head-block">

    <div class="central-head">

        <h1 class="central-head--title"><a href="/content/wedding-partners.html"> Твоя Свадьба </a></h1>

        <nav class="main-menu">
            <ul>
                <li><a href="/content/wedding/catalog.html"> Каталог </a></li>
                <li><a href="/content/wedding/tenders.html "> Тендеры </a></li>
                <li id="promo-btn"><a href="/content/wedding/sales.html"> <img src="/etc/clientlibs/wedding/pages/images/on_all_pages/header/aktsii_icon.png" alt="%"> Акции </a></li>
                <li><a href="/content/wedding/real-weddings.html"> Свадьбы </a></li>
            </ul>
        </nav>

    </div>

    <!--<sly data-sly-include="${@ path='/apps/wedding/components/content/filter/cabinet-input-bl.html'}"></sly>-->

</div>





