@font-face {
    font-family: 'GOTHAPROBLA';
    src: url("/etc/designs/wedding/clientlib-site/fonts/GOTHAPROBLA.otf");
}

@font-face {
    font-family: 'GOTHAPROBLAITA';
    src: url("/etc/designs/wedding/clientlib-site/fonts/GOTHAPROBLAITA.otf");
}

@font-face {
    font-family: 'GOTHAPROBOL';
    src: url("/etc/designs/wedding/clientlib-site/fonts/GOTHAPROBOL.otf");
}

@font-face {
    font-family: 'GOTHAPROBOLITA';
    src: url("/etc/designs/wedding/clientlib-site/fonts/GOTHAPROBOLITA.otf");
}

@font-face {
    font-family: 'GOTHAPROITA';
    src: url("/etc/designs/wedding/clientlib-site/fonts/GOTHAPROITA.otf");
}
@font-face {
    font-family: 'GOTHAPROLIG';
    src: url("/etc/designs/wedding/clientlib-site/fonts/GOTHAPROLIG.otf");
}
@font-face {
    font-family: 'GOTHAPROLIGITA';
    src: url("/etc/designs/wedding/clientlib-site/fonts/GOTHAPROLIGITA.otf");
}
@font-face {
    font-family: 'GOTHAPROMED';
    src: url("/etc/designs/wedding/clientlib-site/fonts/GOTHAPROMED.otf");
}
@font-face {
    font-family: 'GOTHAPROMEDITA';
    src: url("/etc/designs/wedding/clientlib-site/fonts/GOTHAPROMEDITA.otf");
}

@font-face {
    font-family: 'GOTHAPRONARBOL';
    src: url("/etc/designs/wedding/clientlib-site/fonts/GOTHAPRONARBOL.otf");
}
@font-face {
    font-family: 'GOTHAPRONARMED';
    src: url("/etc/designs/wedding/clientlib-site/fonts/GOTHAPRONARMED.otf");
}
@font-face {
    font-family: 'GOTHAPROREG';
    src: url("/etc/designs/wedding/clientlib-site/fonts/GOTHAPROREG.otf");
}
@font-face {
    font-family: 'ROSA_MARENA';
    src: url("/etc/designs/wedding/clientlib-site/fonts/ROSA_MARENA.TTF");
}
@font-face {
    font-family: 'THEANODIDOT-REGULAR';
    src: url("/etc/designs/wedding/clientlib-site/fonts/THEANODIDOT-REGULAR.TTF");
}





